

@model ReflectionIT.Mvc.Paging.PagingList<HR.Models.Employee>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewBag.Title = "Index";

}
<h1>Employees </h1>

<a onclick="showInPopup('@Url.Action("AddOrEdit","Employees",null,Context.Request.Scheme)','New Employees')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Employees</a>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder=""
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
    <br />
    <a asp-action="Index">     Get All Interviews</a>
</form>

<div class="text-right">
    <form method="post" asp-controller="Employees" asp-action="ExportToExcel">
        <input type="submit" value="Export To Excel" />
    </form>
</div>


<div class="" style="width:40%;margin-top:2%">
    <table class="table table-bordered ">
        <thead class="thead-dark">
            <tr style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">@Html.SortableHeaderFor(model => model.EmployeeId, this.Model)</th>

                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">@Html.SortableHeaderFor(model => model.EmployeeName, this.Model)</th>
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.OrganizationId)
                </th>
              
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.EmploymentDate)
                </th>
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.Team)
                </th>
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayNameFor(model => model.CompanyShortName)
                </th >
                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr id="row_@item.Id" style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.OrganizationId)
                </td>

                @{


                    var dateTimeNow = (DateTime)item.EmploymentDate;
                    var dateOnlyString = dateTimeNow.ToShortDateString();
                }

                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                    @Html.DisplayFor(modelItem => dateOnlyString)
                </td>


            
                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.CompanyShortName)
                </td>

                <td style=" border: 2px solid #999; text-align: center; vertical-align: middle;">
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Employees",new {id=item.Id},Context.Request.Scheme)','Update Employees')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <b class="btn btn-danger"><a onclick="ConfirmDelete(@item.Id)"> Delete</a></b>
                </td>
            </tr>
            }
        </tbody>
    </table>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Delete </h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure ? You want to delete this. </h4>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
                </div>

            </div>

        </div>

    </div>

    <input type="hidden" id="hiddenId" />

</div>



<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>

<input type="button" value="Back" onclick="location.href='@Url.Action("Index", "InterviewCvs")'" />


<script>


    var ConfirmDelete = function (Id) {

        $("#hiddenId").val(Id);
        $("#myModal").modal('show');

    }

    var DeleteEmployee = function () {

        $("#loaderDiv").show();

        var EmployeeId = $("#hiddenId").val();

        $.ajax({


            /*            url: "/InterviewCvs/DeleteEmployee",*/
            url: '@Url.Action("DeleteEmployee","Employees")/',
            data: { EmployeeId: EmployeeId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + EmployeeId).remove();

            },
            error: function (result) {
                console.log(result
                )
            }

        })

    }
</script>