@model ReflectionIT.Mvc.Paging.PagingList<HR.Models.Multi>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Interviews </h2>


<input type="button" value="Add Interview" class="btn btn-success text-white" onclick="location.href='@Url.Action("Interview", "InterviewCvs", null)'" />

<input type="button" value="Add Employee" class="btn btn-success text-white" onclick="location.href='@Url.Action("Index", "Employees")'" />

<br />

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder=""
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
    <br />
    &nbsp;
    <a asp-action="Index">     Get All Interviews</a>
</form>


<div class="text-right">
    <a onclick="showInPopup('@Url.Action("Index","SentEmail",null,Context.Request.Scheme)','Email')" class="btn btn-success text-white"><i class="fas fa-random"></i> Email</a>
    <br>
    <form  method="post" asp-controller="InterviewCvs" asp-action="ExportToExcel">
        <input type="submit" value="Export To Excel" />
    </form>
</div>

<div class="text-left">

    <a class="btn btn-success text-white" href="javascript:void(0);" onclick="printPageArea('printableArea')">Print</a>
</div>


        <html>

        <body>

            <div class="" style="width:40%;margin-top:2%">
                <div id="printableArea">
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                            <tr style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">

                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>@Html.SortableHeaderFor(model => model.Id, this.Model)</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>@Html.SortableHeaderFor(model => model.Name, this.Model)</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Interview Date</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Function Apply</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Departament Apply</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Employee</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Test Result</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Accepted</b></th>
                                @*<th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Refused Reason</b></th>*@
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Observation </b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Date Answer</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Offert Status </b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Employment Date</b></th>
                                <th style=" border: 2px solid #999; text-align: center; vertical-align: middle; "><b>Actions</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id" style=" border: 2px solid #999">
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.Id</td>
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.Name</td>


                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.InterviewDate</td>



                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.NameFunction</td>
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.NameDepartment</td>
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.EmployeeName </td>
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.TestResult</td>


                                    @if (item.Accepted == false)
                                    {
                                        <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                            No
                                        </td>
                                    }
                                    else
                                    {
                                        <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                            Yes
                                        </td>
                                    }

                                    @*@if (item.RefusedReason == 1)
                                        {
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                        Refused Test
                                    </td>
                                        }
                                        else if (item.RefusedReason == 2)
                                        {
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                        Refused interview
                                    </td>
                                        }
                                        else
                            {
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                        -
                                    </td>
                            }*@




                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.Comments</td>



                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.DateAnswer</td>





                                    @if (item.OffertStatus == 2)
                                    {
                                        <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                            Refused
                                        </td>
                                    }
                                    else
                                    {
                                        <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                            Signed
                                        </td>
                                    }


                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">@item.EmploymentDate</td>
                                    <td style=" border: 2px solid #999; text-align: center; vertical-align: middle; ">
                                        <div class="w3-show-inline-block">
                                            <div class="w3-bar">

                                                <input type="button" value="Edit" class="btn btn-info text-white" onclick="location.href='@Url.Action("Interview", "InterviewCvs", new {id=item.Id})'" />


                                                <b class="btn btn-danger">
                                                    <a onclick="ConfirmDelete(@item.Id)">Delete <i class="glyphicon-trash"></i>  </a>
                                                </b>


                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>


                    </table>
                </div>

                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">


                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3 class="modal-title">Delete interview</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure ? You want to delete this. </h4>

                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
                            </div>

                        </div>

                    </div>

                </div>

                <input type="hidden" id="hiddenId" />



                <div class="modal" tabindex="-1" role="dialog" id="form-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>






            </div>

        </body>
    </html>

    <nav aria-label="Suppliers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>

    <script>


    var ConfirmDelete = function (Id) {

        $("#hiddenId").val(Id);
        $("#myModal").modal('show');

    }

    var DeleteEmployee = function () {

        $("#loaderDiv").show();

        var EmployeeId = $("#hiddenId").val();

        $.ajax({


            /*            url: "/InterviewCvs/DeleteEmployee",*/
            url: '@Url.Action("DeleteEmployee","InterviewCvs")/',
            data: { EmployeeId: EmployeeId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + EmployeeId).remove();

            },
            error: function (result) {
                console.log(result
                )
            }

        })

        }


        function printPageArea(areaID) {
            var printContent = document.getElementById(areaID);
            var WinPrint = window.open('', '', 'width=900,height=650');
            WinPrint.document.write(printContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }
    </script>




    <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Home")'" />
