@model HR.Models.PersonCv

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PersonCv</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateApply)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateApply)
        </dd>
     
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountyAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountyAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CityAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
    </dl>
</div>

<!--adaugare edit-->

<div>
     <a asp-action="Edit" class="btn btn-success text-white" asp-route-id="@Model.Id">Edit</a> 
</div>




<!-- Grid Detail-->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <br /><br /><br />
        <p><b>Documente</b></p>


        @(Html.DevExtreme().DataGrid()
    .ID("data-grid2")
    .DataSource(d => d.Mvc().Controller("PersonCvs").LoadAction("GetDocuments").LoadParams(new { PersonCVId = Model.Id }))
    .Paging(p => p.PageSize(10))
    .ShowBorders(true)
    .FilterRow(filter => filter.Visible(true))
    .SearchPanel(search => search.Visible(true).Placeholder("Search ...").Width(500))
    .HeaderFilter(filter => filter.Visible(true))
    //.Selection(s => s.Mode(SelectionMode.Multiple))
    .WordWrapEnabled(true)
    .RowAlternationEnabled(true)
    //.Export(e => e.Enabled(true).AllowExportSelectedData(true).FileName("ExternalDocuments"))
    .Columns(c =>
    {
        c.Add().Caption("Id").DataField("Id");
        c.Add().Caption("DocumentName").DataField("DocumentName");
        c.Add().Caption("DateAdded").DataField("DateAdded");
        c.Add().Caption("Observation").DataField("Observation");

        c.Add().Caption("Action")
        .Type(GridCommandColumnType.Buttons)
         .Buttons(btns =>
         {
             btns.Add()
             .Text("Open")
             .CssClass("btn btn-primary btn-sm rounded white-text")
             .OnClick(
				@<text>
					 function(e) {
        s="http://127.0.0.1/CV-uri/"
        s+=@Model.Id;
        s+="/";
        s+=e.row.data.DocumentName;
         window.open( s,'_blank');
   
        }
				</text>
            );

          btns.Add()
        .Text("Delete")
        .CssClass("btn btn-danger btn-sm rounded white-text")
        .OnClick(
        @<text>
            function(e) {
            ConfirmDelete(e.row.data.Id)
            }
        </text>
        );


         });
    })
    .ColumnAutoWidth(true)
)
        <br /><br /><br />
        <p><b>Interviuri la care a participat</b>:</p>
        <!-- .LoadParams(new { orderID = new JS("data.OrderID") })  -->
        @(Html.DevExtreme().DataGrid()
        .ID("data-grid1")
        .DataSource(d => d.Mvc().Controller("PersonCVs").LoadAction("GetInterview").LoadParams(new { PersonCVId = Model.Id}))
        .Paging(p => p.PageSize(10))
        .ShowBorders(true)
        .FilterRow(filter => filter.Visible(true))
        .SearchPanel(search => search.Visible(true).Placeholder("Search ...").Width(500))
        .HeaderFilter(filter => filter.Visible(true))
        //.Selection(s => s.Mode(SelectionMode.Multiple))
        .WordWrapEnabled(true)
        .RowAlternationEnabled(true)
        //.Export(e => e.Enabled(true).AllowExportSelectedData(true).FileName("ExternalDocuments"))

        .Columns(c =>
        {

            c.Add().Caption("Nrcrt").DataField("Id");
            c.Add().Caption("InterviewDate").DataField("InterviewDate");
            c.Add().Caption("FunctionApply").DataField("FunctionApply");
            c.Add().Caption("DepartamentApply").DataField("DepartamentApply");
           // c.Add().Caption("EmployeeName").DataField("EmployeeName");
            c.Add().Caption("Accepted").DataField("Accepted");
            c.Add().Caption("TestResult").DataField("TestResult");
            c.Add().Caption("OffertStatus").DataField("OffertStatus");

            c.Add().Caption("Action")
            .Type(GridCommandColumnType.Buttons)
            .Buttons(btns =>
            {



        btns.Add()
        .Text("Edit")
        .CssClass("btn btn-primary btn-sm rounded white-text")
        .OnClick(
        @<text>
            function(e) {
            window.location = '@Url.Action("Edit", "InterviewCvs")/' + e.row.data.Id;
            }
        </text>
        );
          btns.Add()
        .Text("Delete")
        .CssClass("btn btn-danger btn-sm rounded white-text")
        .OnClick(
        @<text>
            function(e) {
            ConfirmDelete2(e.row.data.Id)
            }
        </text>
        );


        });
        })
        .ColumnAutoWidth(true)

        )



    </div>

</div>



<input type="button" value="Back" onclick="location.href='@Url.Action("Index", "PersonCvs")'" />



<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete interview</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this interview. </h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteEmployee2()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<input type="hidden" id="hiddenId2" />

   




<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Document</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this document. </h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<input type="hidden" id="hiddenId" />



<script>


    var ConfirmDelete = function (Id) {

        $("#hiddenId").val(Id);
        $("#myModal").modal('show');

    }

    var DeleteEmployee = function () {

        $("#loaderDiv").show();

        var EmployeeId = $("#hiddenId").val();
        console.log(EmployeeId)
        $.ajax({


            /*            url: "/InterviewCvs/DeleteEmployee",*/
            url: '@Url.Action("DeleteEmployee2","PersonCvs")/',
            data: { EmployeeId: EmployeeId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + EmployeeId).remove();
                location.reload();
            },
            error: function (result) {
                console.log(result
                )
            }

        })

    }


</script>







<script>


    var ConfirmDelete2 = function (Id) {

        $("#hiddenId2").val(Id);
        $("#myModal2").modal('show');

    }

    var DeleteEmployee2 = function () {

        $("#loaderDiv").show();

        var EmployeeId = $("#hiddenId2").val();

        $.ajax({


            /*            url: "/InterviewCvs/DeleteEmployee",*/
            url: '@Url.Action("DeleteEmployee3","InterviewCvs")/',
            data: { EmployeeId: EmployeeId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + EmployeeId).remove();
                location.reload();
            },
            error: function (result) {
                console.log(result
                )
            }

        })

    }
</script>
