@model HR.Models.PersonCv

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonCv</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-xl-6">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateApply" class="control-label"></label>
                        <input asp-for="DateApply" class="form-control" />
                        <span asp-validation-for="DateApply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FunctionApply" class="control-label"></label>
                        <select asp-for="FunctionApply" class="form-control" asp-items="ViewBag.FunctionApply"></select>
                        <span asp-validation-for="FunctionApply" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="FunctionMatch" class="control-label"></label>
                        <select asp-for="FunctionMatch" class="form-control" asp-items="ViewBag.FunctionMatch"></select>
                        <span asp-validation-for="FunctionMatch" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observation" class="control-label"></label>
                        <input asp-for="Observation" class="form-control" />
                        <span asp-validation-for="Observation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="form-group">
                        <label asp-for="ModeApply" class="control-label"></label>
                        <select asp-for="ModeApply" class="form-control" asp-items="ViewBag.ModeApply"></select>

                        <span asp-validation-for="ModeApply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountyAddress" class="control-label"></label>
                        <input asp-for="CountyAddress" class="form-control" />
                        <span asp-validation-for="CountyAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityAddress" class="control-label"></label>
                        <input asp-for="CityAddress" class="form-control" />
                        <span asp-validation-for="CityAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>

                        <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                  
               
            </div>
        </form>
    </div>
</div>




<!--adaugare edit-->

<div>
</div>
<!-- Grid Detail-->
<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Documente</button>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


        <div>
            @(Html.DevExtreme().FileUploader()
                          .Name("smallFile")
                          .Accept(".pdf")
                          .Multiple(true)
                          //.MaxFileSize(4000000)
                          .UploadMode(FileUploadMode.UseButtons)
                          .UploadUrl(Url.Action("UploadSmallFile", "PersonCvs"))
                          .OnUploaded("please_refresh")

        )
        </div>


        @(Html.DevExtreme().DataGrid()
    .ID("data-grid2")
    .DataSource(d => d.Mvc().Controller("PersonCvs").LoadAction("GetDocuments").LoadParams(new { PersonCVId = Model.Id }))
    .Paging(p => p.PageSize(10))
    .ShowBorders(true)
    .FilterRow(filter => filter.Visible(true))
    .SearchPanel(search => search.Visible(true).Placeholder("Search ...").Width(500))
    .HeaderFilter(filter => filter.Visible(true))
    //.Selection(s => s.Mode(SelectionMode.Multiple))
    .WordWrapEnabled(true)
    .RowAlternationEnabled(true)
    //.Export(e => e.Enabled(true).AllowExportSelectedData(true).FileName("ExternalDocuments"))
    .Columns(c =>
    {
        c.Add().Caption("Nrcrt").DataField("Id");
        c.Add().Caption("DocumentName").DataField("DocumentName");
        c.Add().Caption("DateAdded").DataField("DateAdded");
        c.Add().Caption("Observation").DataField("Observation");

        c.Add().Caption("Action")
        .Type(GridCommandColumnType.Buttons)
         .Buttons(btns =>
         {
             btns.Add()
             .Text("Open")
             .CssClass("btn btn-primary btn-sm rounded white-text")
             .OnClick(
				@<text>
					 function(e) {
         window.open( "http://127.0.0.1/CV-uri/" + @Model.Id,'_blank');
        }
				</text>
            );

          btns.Add()
        .Text("Delete")
        .CssClass("btn btn-primary btn-sm rounded white-text")
        .OnClick(
        @<text>
            function(e) {
            ConfirmDelete(e.row.data.Id)
            }
        </text>
        );


         });
    })
    .ColumnAutoWidth(true)
)
    </div>

</div>




<input type="button" value="Back" onclick="location.href='@Url.Action("Index", "PersonCvs")'" />



<script>
    function please_refresh() {
        location.reload();
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Document</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this. </h4>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
            </div>

        </div>

    </div>

</div>

<input type="hidden" id="hiddenId" />



<script>


    var ConfirmDelete = function (Id) {

        $("#hiddenId").val(Id);
        $("#myModal").modal('show');

    }

    var DeleteEmployee = function () {

        $("#loaderDiv").show();

        var EmployeeId = $("#hiddenId").val();
        console.log(EmployeeId)
        $.ajax({


            /*            url: "/InterviewCvs/DeleteEmployee",*/
            url: '@Url.Action("DeleteEmployee2","PersonCvs")/',
            data: { EmployeeId: EmployeeId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + EmployeeId).remove();
                location.reload();
            },
            error: function (result) {
                console.log(result
                )
            }

        })

    }


</script>
