@model HR.Models.Auxi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auxi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefusedReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefusedReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffertStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffertStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeApply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeApply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunctionCv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunctionCv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
